<div class="center">
  <label>Number of traits per parent: </label> 
  <input [(ngModel)]="numberOfTraits" type="number" value="1" min="1" max="5" name="numTraits">
</div>

<div *ngIf="numberOfTraits != 0" class="wrapper">
    <div *ngFor="let parent of 2 | fill">
    <h3>Parent {{parent + 1}}</h3>
    <div *ngFor="let trait of numberOfTraits | fill">
      <li>
        <b>Trait #{{trait + 1}}</b>

        <div class="trait-choice">
          <input class="radio" [(ngModel)]="parents[parent][trait]" type="radio" name="{{parent}}-type-{{trait}}" value="homozygous-d">
          <label for="homozygous-d">Homozygous Dominant</label>
        </div>
        
        <div class="trait-choice">
          <input class="radio" [(ngModel)]="parents[parent][trait]" type="radio" name="{{parent}}-type-{{trait}}" value="heterozygous"> 
          <label for="heterozygous">Heterozygous</label>
        </div>
        
        <div class="trait-choice"> 
          <input class="radio" [(ngModel)]="parents[parent][trait]" type="radio" name="{{parent}}-type-{{trait}}" value="homozygous-r">
          <label for="homozygous-r">Homozygous Recessive</label>
        </div>
      </li>
      <br>
    </div>
  </div>
</div>

<div class="center">
  <button *ngIf="numberOfTraits != 0" (click)="calculate()">Calculate</button>
</div>

<div>
  <p *ngIf="incompleteForm">Incomplete form. Each trait must have a selection.</p>
</div>

