.wrapper{
    display: flex;
    justify-content: space-around;
}

.radio{
    vertical-align: baseline;
}

li{
    list-style: none;
}

.trait-choice{
    text-align: left;
}

h3{
    border-bottom: 1px solid black;
}