.square{
        display: inline-block;
        padding: 8px 0 8px 0;
        width: 200px;
        border: 1px solid black;
}

.row{
        white-space: nowrap;
}

.wrapper{
        text-align: center;
}

.header-row{
        white-space: nowrap;
        /* display: inline-block; */
}

.header-column{
        font-weight: bold;
        padding: 8px;
        display: inline-block;
        width: 60px;
}

.header{
        font-weight: bold;
        width: 200px;
        display: inline-block;
}

.container{
        display: inline-block;
        text-align: center;
}

.top-row{
        display:inline-block;
        text-align: center;
}

.parent{
        white-space: nowrap;
        font-weight: bold;
        padding: 8px;
}

.a{
        display: inline;
}

.key{
        width:10%;

}

