.square{
        display: inline-block;
        padding: 8px;
        width: 100px;
        border: 1px solid black;
}

.row{
        white-space: nowrap;
}

.wrapper{
        text-align: center;
}

.header-row{
        white-space: nowrap;
        /* display: inline-block; */
}

.header-column{
        font-weight: bold;
        padding: 8px;
        display: inline-block;
        width: 60px;
}

.header{
        font-weight: bold;
        padding: 8px;
        width: 100px;
        /* text-align: center; */
        display: inline-block;
}

.container{
        display: inline-block;
        text-align: center;
}

