
 <!-- <div class="wrapper">
  <div class="header-row" *ngFor="let parent of parent1">
    <div class="header">{{parent}}</div>
  </div>
</div>  -->

<!-- <div class="wrapper">
  <div class="row" *ngFor="let row of calculation; let i = index">
    <span class="header-column">{{parent2[i]}}</span>
    <div class="container">
      <div class="header-row" *ngIf="i == 0" >
        <div class="header" *ngFor="let parent of parent1">
          {{parent}}
         </div>
      </div>
      <div class="square" *ngFor="let col of row">
        <label >{{col}}</label>
      </div>
    </div>
  </div>
</div> -->


<div class="wrapper">
  <div class="row" *ngFor="let row of calculation; let i = index">
    <span class="header-column">{{parent2[i]}}</span>
    <div class="a" *ngIf="i == 0">
      <div class="top-row" *ngFor="let col of row; let j = index">
          <div class="parent">
            {{parent1[j]}}
          </div>
          <div class="square">
            <label >{{col}}</label>
          </div>
      </div>
    </div>
    <div class="a" *ngIf="i">
      <div class="square" *ngFor="let col of row">
        <label >{{col}}</label>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <h3>Results</h3>
  <div *ngFor="let key of objectKeys(counts)">
    <label class="key"><strong>{{key}}</strong></label> 
    <span class="value"> | {{counts[key]}}</span> 
    <span> | {{(counts[key] / punnettSquareArea) * 100}}%</span>
  </div> 
</div>
