.square{
        display: inline-block;
        padding: 8px;
        width: 10%;
        border: 1px solid black;
}

.row{
        display: inline;
        white-space: nowrap;
}

.wrapper{
        text-align: center;
}

